<template>
    <v-container fluid>
        <v-card class="mb-3">
            <v-card-subtitle> User Page </v-card-subtitle>
        </v-card>
    </v-container>
</template>

<script>
export default {};
</script>

<style scoped></style>
